In [1]:
#List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_schools:
    print (school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
#A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for high_school_dict in high_school_types:
    print(high_school_dict)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [4]:
#List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [5]:
#Add the Pandas dependency.
import pandas as pd

In [6]:
#Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
#There is no output. To have an output we need to retrieve it by calling the variable school_series, like this:

In [7]:
#Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [8]:
#Skill drill: iterate through the school_series and print out each high school.
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [ ]:
while school<15
    print(school)

In [12]:
#A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [14]:
#Create your first pandas dataframe:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [15]:
# Now, if we are given the three series in different lists, we can join all together
#Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [16]:
#Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [17]:
#Add the list to a new DataFrame.
schools_df["School ID"] = school_id
#print the dataframe
print(schools_df)

   School ID
0          0
1          1
2          2
3          3
4          4

In [18]:
#skill drill: Add the school_name list as "School Name" 
#and the type_of_school list as "Type" to the schools_df DataFrame. Then print out the schools_df DataFrame.
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school
print(schools_df)

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [19]:
#Another way to create this DataFrame is to create a Python dictionary from the three lists, like this: 
#Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
pd.DataFrame(high_schools_dict)

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [20]:
#The Anatomy of a DataFrame
#The Columns Attribute
schools_df.columns

Index(['School ID', 'School Name', 'Type'], dtype='object')

In [22]:
#The Index Attribute
schools_df.index

RangeIndex(start=0, stop=5, step=1)

In [24]:
#The Values Attribute
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [40]:
#Based on the following image, create a list for each column and add each list to a new Pandas DataFrame.
school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
school_name = ["Huang", "Figueroa", "Shelton", "Hernandez", "griffin", "Wilson", "Cabrera", "Bailey", "Holden", "Pena", "Wright", "Rodriguez", "Johnson", "Ford", "Thomas"]
Typess = ["D", "D", "Ch", "D", "Ch", "Ch", "Ch", "D", "Ch", "Ch", "D", "D", "D", "Ch", "Ch"]

new_dataframe = pd.DataFrame()
new_dataframe["School ID"] = school_id
print(new_dataframe)

    School ID
0           0
1           1
2           2
3           3
4           4
5           5
6           6
7           7
8           8
9           9
10         10
11         11
12         12
13         13
14         14

In [41]:
new_dataframe["School Name"] = school_name
print(new_dataframe)

    School ID School Name
0           0       Huang
1           1    Figueroa
2           2     Shelton
3           3   Hernandez
4           4     griffin
5           5      Wilson
6           6     Cabrera
7           7      Bailey
8           8      Holden
9           9        Pena
10         10      Wright
11         11   Rodriguez
12         12     Johnson
13         13        Ford
14         14      Thomas

In [42]:
new_dataframe["Type"] = Typess
print(new_dataframe)

    School ID School Name Type
0           0       Huang    D
1           1    Figueroa    D
2           2     Shelton   Ch
3           3   Hernandez    D
4           4     griffin   Ch
5           5      Wilson   Ch
6           6     Cabrera   Ch
7           7      Bailey    D
8           8      Holden   Ch
9           9        Pena   Ch
10         10      Wright    D
11         11   Rodriguez    D
12         12     Johnson    D
13         13        Ford   Ch
14         14      Thomas   Ch